main{
    width: 100%;
    
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main>section{
    width: 100%;
    min-height: 100vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* PRESENTATION */

#presentation{
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.section-child{
    gap: 5rem;
    width: 80%;
}

#presentation>div>div{
    flex: 1;
}

#presentation-description{
    gap: 2rem;
    color: white;
}

h1{
    width: fit-content;
    font-size: 5rem;
    color: #D64933;
    text-shadow: 3px 2px 2px #962311;
}

#description-profession{
    font-size: x-large;
    width: fit-content;
    font-weight: bold;
    color: rgb(255, 153, 0);
}

#description-text{
    font-size: large;
    max-width: 60%;
    line-height: 2rem;
}

#description-buttons{
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.presentation-buttons{
    font-size: large;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.presentation-buttons:hover{
    cursor: pointer;
}

#button-cv{
    background-color: #D64933;
    color: white;

    box-shadow: 3px 3px 2px #962311;
}

#presentation-photo{
    border-radius: 50%;
    height: 100%;
    
}

#circle-photo{
    background-color: #D64933;
    border-radius: 50%;
    border: 1rem solid rgb(255, 153, 0);
    width: 45rem;
    height: 45rem;
    overflow: hidden;
}

#photo{
    width: 45rem;
    height: 45rem;
    filter: drop-shadow(18px 10px 5px rgba(0, 0, 0, 0.445));
}

/* ABOUT ME */

h2{
    font-size: 3rem;
}

#about-me-div>div{
    flex: 1;
}

#section-about-me-title{
    margin-bottom: 3rem;
}

#father-sub-about-me{
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#father-sub-about-me>div{
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
}

.sub-about-me{
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem;
}

.sub-about-me>h3{
    color: #D64933;
    font-size: 2rem;
}

#about-me-description>p{
    width: 80%;
    font-size: x-large;
    line-height: 3rem;
}


.sub-about-me>ul{
    list-style: none;
}

.sub-about-me>ul>li{
    text-align: center;
    margin: 1rem;
}

#container-hard-skills{
    gap: 2rem;
}

#container-hard-skills>div{
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 2rem;
}

.hard-skills-icons{
    width: 48px;
    height: auto;
}

.idiomas-icons{
    width: 25px;
    height: auto;
}


/*EXPERIENCE AND STUDIES*/

#experience-studies{
    background-color: rgb(255, 153, 0);
    color: white;
}

#container-experience-studies{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

#container-experience-studies>div{
    flex: 1;
}

.sub-experience-studies{
    gap: 2rem;
}

.sub-experience-studies>h3{
    color: #D64933;
    font-size: 2rem;
}

#container-experience{
    gap: 2rem;
}

.exp-stu{
    border-bottom: 1px solid white;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.exp-stu-job{
    font-size: x-large;
}

/*CONTACT ME*/

#contact-me{
    border-bottom: none;
}

#contact-me-h2{
    margin: 3rem;
    color: #D64933;
}

.contact-me-questions{
    margin: 1rem;
    color: rgb(255, 153, 0);
    font-size: xx-large;
    font-weight: bold;
}


form{
    gap: 3rem;
}

form>p{
    font-size: x-large;
}

form>div{
    gap: 2rem;
}

#form-mail{
    width: 50%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: large;
    box-shadow: 1px 1px 5px #38383881;
}

#form-submit{
    font-size: large;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #D64933;
    color: white;
    box-shadow: 3px 3px 2px #962311;
}